h1{
	text-align: center;
	font-size: 64px;
	font-family: sans-serif;
	backdrop-filter: blur(10px) saturate(70%);
	
}
h2{
	text-align: center;
	font-size: 32px;
	font-family: sans-serif;
	margin-top: 950px;
	backdrop-filter: blur(10px) saturate(70%);
	
}
h3{
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
	backdrop-filter: blur(10px) saturate(70%);
	
}

#slideshow{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 1024px;
}

#map{
	width: 1024px;
	height: 500px;
	margin-top: 80px;
	margin-left: auto;
    margin-right: auto;
}



#rightbutton{
	position: absolute;
	right: 0;
	height: 768px;
	top: 0;
	box-shadow: 0px 0px 10px black;
}

#leftbutton{
	position: absolute;
	left: 0;
	height: 768px;
	top: 0;
	box-shadow: 0px 0px 10px black;
}

#description{
	text-align: center;
	border: 1px solid black;
	background-color: #f0f0f0;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	border-radius: 10px;
	font-family: sans-serif;
}
body{
background: 
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
	
}
